/* reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.caja, .formulario, header, header nav ul, .ig {
  display: flex; }

/* estilos de pagina productos */
.caja {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-around; }

.card {
  background-color: black;
  margin: 2rem;
  padding: 0rem;
  transition: 0.4s; }
  .card .card-title {
    color: #ececec; }
  .card .card-text {
    color: #ececec; }
  .card:hover {
    transform: scale(1.03);
    transition: 0.4s; }
  .card .image-card-otto {
    height: 300px;
    object-fit: cover; }

.btn {
  background-color: dimgray;
  margin: 1rem; }

/* estilos de pagina contacto */
.formulario {
  flex-direction: column;
  padding: 4rem; }
  .formulario div {
    padding: 0.5rem; }

/* estilos de pagina home */
main p {
  font-size: 1.3rem; }

main .shop {
  font-size: larger;
  text-decoration: none;
  color: black; }

main .shop img, main .shop p {
  transition: 0.4s; }
  main .shop img:hover, main .shop p:hover {
    transform: scale(1.05);
    transition: 0.4s; }

/* estilos de header */
header {
  color: whitesmoke;
  justify-content: space-around;
  align-items: center;
  background-color: black; }
  header nav ul {
    list-style: none;
    gap: 1.3rem; }
    header nav ul li {
      transition: 0.4s; }
      header nav ul li a {
        color: #ececec;
        text-decoration: none; }
        header nav ul li a:hover {
          color: #c8b6a6 !important; }
      header nav ul li:hover {
        transform: scale(1.09);
        transition: 0.4s; }

/* estilos de main */
main {
  text-align: center;
  min-height: 80vh;
  background-color: #c8b6a6; }
  main h1 {
    margin: 0px;
    padding: 1rem; }
  main h3 {
    margin-bottom: 20px; }
  main p {
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem; }
  main #vcpLogo {
    background-color: #afa89f;
    margin: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px #333333; }
  main .shop img {
    margin-top: 3rem; }

/* estilos de footer */
#blackig {
  text-decoration: none;
  color: whitesmoke; }

footer {
  background-color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  footer p {
    color: #ececec; }

.ig {
  justify-content: center;
  align-items: center;
  margin: 1rem; }
  .ig a {
    padding: 0.5rem; }

/* mq (media queries) de tablet */
@media screen and (max-width: 1024px) {
  header nav ul {
    flex-direction: column;
    padding: 1rem; }
  .caja {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 33%); }
  .card {
    justify-self: center; } }
