@import "utilidades/mixin";


/* reset */ 
*{
    @include marpad(0px, 0px);
     box-sizing: border-box;
 }

// imports

@import "utilidades/vars";
@import "utilidades/extend";
@import "html/productos";
@import "html/contacto";
@import "html/home";






/* estilos de header */
.main-header .navbar{
    display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

header{
    color: whitesmoke;
    background-color: $color-principal;
    flex-wrap:wrap;
    
    .navbar{
        width: 960px;
        max-width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }

    .main-header .navbar{
        display: flex;
	    align-items: center;
	    justify-content: space-around;
	    flex-wrap: wrap;
    }
    
    #options{
        justify-content: flex-end;
    }

    .main-nav ul{
        text-align: center;
        list-style: none;
        li{
            transition: 0.4s;
            display: inline;
            a{
                color: $color-letras;
                text-decoration: none;
                display: inline-block;
	            padding: .5rem 1.24em;
                &:hover{
                color: $color-fondo;
                }
            }
            &:hover{
                transform: scale(1.09);
                transition: 0.4s;
                
            }
        }
    }
}

/* estilos de main */

main{
    text-align: center;
    min-height: 80vh;
    background-color: $color-fondo;
    h1{
        @include marpad(0px, 2rem);
        
    }
    h3{
        margin-bottom: 20px;
    }
    p{
        padding-bottom: 1rem;
        padding-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 0rem;
    }
   

    #vcpLogo{
        
        background-color: rgb(175, 168, 159);
        @include marpad(4rem,1rem);
        border-radius: 1rem;
        box-shadow: 3px 3px 3px #333333;
    }
    
    .shop img{
        margin-top: 5rem;
    }
    
}

/* estilos de footer */

#blackig{
    text-decoration: none;
    color: whitesmoke;
}

footer{
    background-color: $color-principal;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    p{
        color: $color-letras;
    }
}

.ig{
    @extend %flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    a{
        padding: 0.5rem;
    }
}

/* mq (media queries) de tablet */
@media screen and (max-width: 1024px) {

    /*
    header nav ul{
        flex-direction: column;
        padding: 1rem;
    }
*/
    .caja{
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,33%);
        
    
    }
    
    .card{
       justify-self: center;
    }

    .home-img{
        display: none;
    }

    
}
