/* estilos de pagina contacto */

.formulario{
    @extend %flex;
    flex-direction: column;
    padding: 4rem;
    div{
        padding: 0.5rem;
    }
}

.flex-container-contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: auto;
    align-content: auto;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin: 1rem;
  }
