/* estilos de pagina home */

main{
    p{
        font-size: 1.3rem;
    }
    .shop{
        font-size: larger;
        text-decoration: none;
        color:$color-principal;
    }
    .shop img,.shop p{
        &:hover{
            transform: scale(1.05);
            transition: 0.4s;
        }
        transition: 0.4s;
    }
}